@using Orchard.UI.Resources
@{ Script.Require("jwplayer").AtHead(); }

@*@using Orchard.UI.Resources
    @{ Script.Include("jwplayer.js").AtLocation(ResourceLocation.Head); }*@

<div id='mediaspace'>This text will be replaced</div>
<script src="http://jwpsrv.com/library/MO2v5JdhEeSGSAp+lcGdIw.js"></script>
<script type='text/javascript'>    
    jwplayer('mediaspace').setup({
        'file': '@Url.Content(@Model.MediaFile)',
        'autostart': '@Model.AutoStart',
        @if (Model.Repeat) {<text>'repeat': 'always',</text>}
    'width': '@Model.Width',
    'height': '@Model.Height'
    });

    @*jwplayer('mediaspace').setup({
        'flashplayer': '@Url.Content(Model.PlayerSource)',
        'file': '@Url.Content(@Model.MediaFile)',
        'autostart': '@Model.AutoStart',
        @if (Model.Repeat) {<text>'repeat': 'always',</text>}
        'width': '@Model.Width',
        'height': '@Model.Height'
    });*@

    @*jwplayer("mediaspace").setup({
        file: '@Url.Content(Model.PlayerSource)',
        width: 200,
        height: 360,
        autostart: true
    });*@
</script>